[Unit]
Description=RAG Flask App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/rag_app
EnvironmentFile=/home/ubuntu/rag_app/.env
ExecStart=/home/ubuntu/rag_app/venv/bin/gunicorn -w 4 -b 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
